@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model GerenciadorDeContratos.Models.Contrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Numero do contrato (@Html.DisplayNameFor(model => model.ContratadoID))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContratadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contratado.nomeFantasia) do contratado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contratado.nomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contratante.nomeFantasia) do contratante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contratante.nomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetoContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetoContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vigenciaContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vigenciaContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContratoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
