@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<GerenciadorDeContratos.Models.Contrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Numero do contrato (@Html.DisplayNameFor(model => model.ContratoID))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contratado.nomeFantasia) do contratado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contratante.nomeFantasia) do contratante
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetoContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vigenciaContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ContratoID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contratado.nomeFantasia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contratante.nomeFantasia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.objetoContrato)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.vigenciaContrato)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ativo)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ContratoID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ContratoID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ContratoID })
    </td>
</tr>
}

</table>
