@model IEnumerable<GerenciadorDeContratos.Models.Contrato>

@{
    ViewBag.Title = "Visualizar contratos";
}


<script>

    function getContratoPorNumero() {
        window.location.href = "/Home/DetalharContrato/" + document.getElementById("numeroContract").value;
    }

</script> 

<h2>Visualizar contratos</h2>

<div>
    <label>Pesquisar por numero do contrato:</label>
    <input id="numeroContract" class="form-control" type="text">
    <p></p>
    <button type="button" onclick="getContratoPorNumero()" class="btn btn-primary">Buscar</button>
    

</div>

<br></br>

<table class="table">
    <tr>
        <th>
            Numero do contrato (@Html.DisplayNameFor(model => model.ContratoID))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contratado.nomeFantasia) do contratado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contratante.nomeFantasia) do contratante
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetoContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vigenciaContrato)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contratado.nomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contratante.nomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objetoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vigenciaContrato)
            </td>

            <td>
                @Html.ActionLink("Details", "DetalharContrato", new { id = item.ContratoID })
            </td>

        </tr>
    }

</table>
