@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<GerenciadorDeContratos.Models.Contratado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contato.email) do contato
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inscricaoMunicipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inscricaoEstadual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porteDaEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ramoDeAtividade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.optantePeloSimples)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeFantasia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inscricaoMunicipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porteDaEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ramoDeAtividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.optantePeloSimples)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeFantasia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContratadoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContratadoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContratadoID })
            </td>
        </tr>
    }

</table>
